{% extends 'base1.html' %}

{% block title %} about me {% endblock title %} 

{%block content %}
         <div id="maintext">
                    <h1>About me!</h1>
            </div>
            <div id="about-text">
                    <p> &emsp; Hello guys! my name is Ramawajdi Kanishka Anwar. You could call me kani. I was born in 12nd January of 1999 in Jakarta, Indonesia. I have 1 elder sister. I currently live in Bekasi. But, when it is an active semester, i usually live in Kukusan with 7 of my friends.</p>
            </div> 
            <div id="about-biodata">
                    <ul>
                        <li> > Full name : Ramawajdi Kanishka Anwar</li>
                        <li> > DoB : 12 January 1999</li>
                        <li> > NPM : 1706043595</li>
                        <li> > Occupation : Student (Informatics System at University of Indonesia) </li>
                        <li> > Blood type : O</li>
                    </ul>
            </div> 
            <div id="about-social-media">
                    <h2>--Social Media--</h2>
            </div> 
            <div id="about-sosmed-list">
                    <ul>
                        <li> > Facebook : Ramawajdi Kanishka anwar</li>
                        <li> > Instagram : ramawajdi.ka</li>
                        <li> > LINE : ramawajdika</li>
                        <li> > LinkedIn : Ramawajdi Kanishka</li>
                    </ul>
            </div>

            <div id="accordion">
  <h3 class="acc_header">Current Activities</h3>
  <div class="inside">
    <div id="pro">
       <img src="https://goo.gl/NQypM5"> 
    </div>
    
    Im an informatics system student at University of Indonesia. Im on my second year right now. 
    Im a member of Ristek's Game Development SIG junior member. I usually take my language course
    on monday from 4pm to 6pm. Im also the teaching assistant coordinator for Foundations of Computer 
    Architecture course for extension program in this semester. I also like to post a song cover on my 
    soundcloud account to relieve my stress.
    </p>
  </div >
  <h3 class="acc_header" >Experiences</h3>
  <div class="inside">
   <h4 id="tahun">2017 - 2018</h4>
   <ul>
       <li>> Koordinator Asisten Dosen Dasar-Dasar Arsitektur Komputer ekstensi ganjil</li> 
       <li>> Indie Game Ignite COMPFEST X Staff</li>
       <li>> Computer Get Together Games and Competition Staff</li>
       <li>> BETIS 2018 participants staff</li>
       <li>> Ristek '18 Game Development Junior member</li>
       <li>> Indonesian Utaite Raw and Live 2017 performer and Logistics PIC</li>
       <li>> SBF Media participant</li>
   </ul> 
   <h4 id="tahun">2016 - 2017</h4>
   <ul>
       <li>> Rohis SMAN 8 Jakarta External Vice Officer</li>
       <li>> Indonesian Utaite Raw and Live 2016 Logistics staff</li>
   </ul>



  </div>
  <h3 class="acc_header" >Achievements</h3>
  <div  class="inside">
    <p id="achieve">
    I do not have any achievement whatsoever 

    <div id="ach">
       <img id="luigi" src="https://goo.gl/8H3Bbt"> 
    </div>
    
    </p>
    
  </div>
</div>

            <div>
                <a id="butt" type="button" class="btn btn-success sub" href="{% url 'balik' %}">back to scrum debate</a>
            </div>

{% endblock content %}