<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>SCRUM DEBATE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'mainfiles/css/style.css' %}">

</head>
<body>


<div id="container">

    <div class="container">
        <div class="jumbotron">
            <h1>SCRUM DEBATE</h1>
            <p>Halo, apa kabar? Silahkan adu bacot disini saya tidak peduli.</p>
            <div id="red">
              <a id="butta" type="button" class="btn btn-success sub" href="{% url 'profile' %}">profile</a>
              <a id="buttb" type="button" class="btn btn-success sub" href="{% url 'books' %}">books</a>
              <a id="buttc" type="button" class="btn btn-success sub" href="{% url 'register' %}">Register</a>
            </div>
            
        </div>



    </div>

    <div class="content">


        <div class="row-auto hub">

            <form id='form' method='POST' action="{% url 'send' %}">
                {% csrf_token %}
                {{ bacotan_form }}
                <br>
                <button id="kirim" type="submit" class="btn btn-success">Submit</button>
            </form>


        </div>

        <div>

            {% for Bacotan in bacotan_display %}

                <div class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo"
                                 src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->

                    <div class="col-sm-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong> {{ Bacotan.name }} </strong> <span
                                    class="text-muted">commented on {{ Bacotan.time }} </span>
                            </div>
                            <div class="panel-body">
                                {{ Bacotan.status }}
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div><!-- /row -->

            {% endfor %}


        </div>

    </div>

    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Manfaat adu bacot</h5>
                    <p>Adu bacot bisa meningkatkan kreativitas seseorang dalam berargumen dan menciptakan pemikiran yang
                        kritis serta ideal. Diperuntukkan bagi calon lawan adu bacot yang memiliki integritas tinggi
                        serta bisa menjaga kerasionalan dalam berargumen. </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>


</body>
</html> 
