{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet " type="text/css" href="{% static 'mainfiles/css/style1.css' %}">
<script type="text/javascript" src="{% static 'mainfiles/js/books.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



<div id="elements">
        <div id="luar">
            <div>
            <nav class="navbar navbar-inverse">
             <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://gitlab.com/ramawajdika/story6-ppw-2018">Story 6-9</a>
        </div>
            <ul class="nav navbar-nav">
              <li ><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li class="active"><a href="{% url 'books' %}">Books</a></li>
              <li ><a href="{% url 'register' %}">Register</a></li>
        </ul>
      </div>
    </nav>
        </div>

        <div id="titledalem">

            <h1> DAFTAR BUKU</h1>
            <div >
                <h2 id="taa">Jumlah buku favorit : 0 </h2>
            </div>
            <div id= "baa">
            
                <input  type="search" id="vars" placeholder="find the desired book..">
                <button class="btn btn-primary" id="searching">Search</button>
                
            </div>
            
        </div>

        <div id="tablenya"> </div>
        <div>
           
        </div>
        <div class="table-responsive" id="bakal">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Cover</th>
      <th scope="col">Favorite</th>
    </tr>
  </thead>
  <tbody id="lists">

  </tbody>
</table>
        </div>
        </div>
        
 

</div>

</body>
</html>