{% load staticfiles %}

        <div class="info">
            <div id='inners' class="inner">
                <div class="name">
                    <h1>Ramawajdi Kanishka Anwar</h1>
                </div>
                <div class="bio">
                    <ul>
                        <li>Game Developer</li>
                        <li>Jakarta, Indonesia</li>
                        <li id="email">ramawajdi<br>.anwar<br>@gmail.com</li>
                        <li>081298899112</li>
                    </ul>
                </div>
            </div>    
        </div>