{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Subscribe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet " type="text/css" href="{% static 'mainfiles/css/style1.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="{% static 'mainfiles/js/subscribe.js' %}"></script>
</head>
<body>



<div id="elements">
        <div id="luar">
            <div>
            <nav class="navbar navbar-inverse">
             <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://gitlab.com/ramawajdika/story6-ppw-2018">Story 6-9</a>
        </div>
            <ul class="nav navbar-nav">
              <li ><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              <li><a href="{% url 'books' %}">Books</a></li>
              <li class="active"><a href="{% url 'register' %}">Register</a></li>
        </ul>
      </div>
    </nav>
        </div>

        <div id="titledalem">

            <h1>Become a subscriber!</h1>

            <div id="daftarcuy">
              <form id='form' method='POST'>
                {% csrf_token %}
                {{ subscriber_form }}
                <br>
                <div id="tombol">
                  <button id="regeis" type="submit" class="btn btn-success">Submit</button>
                </div>
                
            </form>
            </div>
            
            <div id="listnama">
              <div class="table-responsive" id="ninu">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Unsubscribe me!</th>
    </tr>
  </thead>
  <tbody id="lists1">

  </tbody>
</table>
        </div>
            </div>
        </div>


        </div>
        
 

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="pesanan">
          Do you really want to unsubscribe to my website?<br><br>Please enter your password for confirmation!
        </p>
        
      </div>
      <div>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
  </div>
  <input  id="cekpass" type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
</div>
      </div>
      <div class="modal-footer">
        <a id="apusgan" type="button" class="btn btn-danger" >Delete</a>
        <button id="tutup" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>