
@import url('https://fonts.googleapis.com/css?family=Arvo');


#elements {
    background-color: #243833;
    min-height: 100vh;

}

#bakal {
    padding: 50px;
}

#titledalem {
    text-align: center;
}

#container {
    display:none;
}

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

img {
    width: 100px;


}

#exampleModal {
    color: black;
}

body {
    font-family: Arvo;
       color: white;
}

.deletebutton {
    margin-top: 10px;
    text-align: center;
}


#container {
    width: 100%;
    
}

#header {
    background-color: #4F2A53;
    display: flex;
    flex-direction: row;
    margin: 0px;

}

#accordion {
    font-family: Arvo;
    margin-bottom: 20px;
}

#accordion h3 {
    background-color: #F36B31;
    color: white;
}

#accordion .inside {
    color: white;
    background-color: #4F2A53;
}

#accordion .inside li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#accordion .inside #acr {
    margin-top: 100px;
}

#accordion .inside #pro  {
    text-align: center;
    margin-bottom: 20px;
}

#accordion .inside #tahun  {
    margin-top: 50px;
}

#accordion .inside #pro img {
    height: 45%;
    width: 45%;
    margin-bottom: 10px;
}

#accordion .inside #achieve {
    text-align: center;
}

#accordion .inside #ach {
    text-align: center;
}

#accordion .inside #luigi {
    height: 80%;
    width: 80%;
    margin-bottom: 10px;
}

#ppcont {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}


#profpic {
    width: 85%;
    border-top: 30px solid;
    border-top-color:  #F36B31;
}

 #nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0px;

}

.content .info .inner {
    text-align: center;
}


.content {

    background: #B65142;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content .info {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.content .info .inner {
    background: #F36B31;
    width: 85%;

}




.content .info .inner .name {
    padding: 50px 0px 70px;

    border-bottom: 5px dashed white;

}

@media screen and (max-width: 1252px) {
   .content .info .inner .name h1 {

    font-size: 200%;
   

} 

}

@media screen and (max-width: 832px) {
   .content .info .inner .name h1 {

    font-size: 150%;
   

} 

}

.content .info .inner .bio {
    padding: 50px 0px 70px;
    font-size: 150%;


}
 @media screen and (max-width: 934px) {
   .content .info .inner .bio li {

    font-size: 80%;
   

} 

}




 @media screen and (max-width: 756px) {
   .content .info .inner .bio li {

    font-size: 60%;
   

} 

}

.b .hasil .hasils {
    margin-top: 5px;
    margin-bottom: 5px;
}

#hasilbar {
    
    text-align: left;
}

@media screen and (max-width: 798px) {

   #a {
    display: none; 
   }

}

@media screen and (min-width: 798px) {

   #b {
    display: none; 
   }



}

.addbutton {
    text-align: center;

}

.deletebutton {
    text-align: center;
}



 @media screen and (max-width: 724px) {
   .hub h3 {
    text-align: center;
   }

}



 @media screen and (max-width: 686px) {
   .content .info .inner .name h1 {

    font-size: 100%;
   

} 

}



.content .hub {
    
    
    background: #23144B;
    width: 80%;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    margin: 50px 60px 50px 60px;

}

#maintext {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

#theme {
    margin-top: 50px;
    padding-right: 20px;
    text-align: right;
    width: 70%;
}

#changetheme {
    color: black;
    font-weight: bold;
    background-color: #F36B31;
}



#preload {
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform:translate(-50%, -50%);
}

#image {
    width: 100%;
    height: 100%;
}



